* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Fredericka the Great", cursive;
  color: #fff;
  background: #000;
}

// Section Title
.section-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 100px auto;
  border-bottom: 2px solid crimson;
  width: 40%;
  padding-bottom: 10px;
}

// Wrapper
.wrapper {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main";
  height: 100vh;
}

// Header
.header {
  grid-area: header;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;

  // Logo
  .logo {
    color: #fff;
    cursor: pointer;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 3em;
    span {
      color: crimson;
    }
  }

  // Navbar
  .navbar {
    background: #000;

    ul {
      list-style: none;

      li {
        padding: 20px;
        display: inline-block;

        a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 5px;
          font-weight: 800;
          border-left: 2px solid crimson;
          padding: 0 10px;
          &:hover {
            color: crimson;
            transition: 0.5s;
          }

          &:after {
            border-left: none;
          }
        }
      }
    }
  }
}

@media (max-width: 987px) {
  .header {
    .navbar {
      ul {
        li {
          display: block;
        }
      }
    }
  }
}

// Main
main {
  grid-area: main;
  background: url("images/MountainView.jpg") center no-repeat;
  background-size: cover;

  .main-content {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 7em;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .get-started-btn {
      padding: 14px 40px;
      cursor: pointer;
      background: none;
      border: 2px solid crimson;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-family: "Fredericka the Great", cursive;
      font-weight: 800;
      &:hover {
        background: crimson;
        transition: 0.5s;
      }
    }
  }
}

// Responsive Main Content
@media (max-width: 875px) {
  main {
    .main-content {
      h1 {
        font-size: 4em;
      }
    }
  }
}

// About
#about {
  max-width: 1400px;
  margin: 50px auto;

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.1fr);

    .about-img {
      background: url("images/NationalPark.jpg") center no-repeat;
      background-size: cover;
      height: 50vh;
      width: 90%;
      border: 3px solid #fff;
    }

    div {
      text-align: justify;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
      width: 50%;
      margin: 0 auto;

      h3 {
        border-bottom: 2px solid crimson;
        padding: 10px 0;
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      p {
        margin: 15px 0;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}

// Responsive About Section
#about {
  .about-container {
    display: block;

    h3 {
      margin-top: 50px;
    }
  }
}

// Services
#services {
  max-width: 1440px;
  margin: 50px auto;
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .service {
      margin: 50px;
      text-align: center;
      border: 2px solid crimson;
      padding: 40px;
      border-radius: 5px;

      i {
        font-size: 3em;
      }

      .service-title {
        margin: 30px;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: 2px solid crimson;
        padding-bottom: 20px;
      }

      p {
        text-align: justify;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}

// Responsive Services Section
@media (max-width: 857px) {
  #services {
    .services-container {
      display: block;
    }
  }
}

// Footer
footer {
  height: 50vh;
  margin: 50px auto;

  // Footer Container
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    grid-template-areas:
      "contact socialMedia"
      "contact socialMedia";

    // Contact
    #contact {
      grid-area: contact;

      h1 {
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        margin: 40px auto;
      }

      .contact-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        .contact-field {
          padding: 13px 25px;
          border: none;
          border-bottom: 2px solid crimson;
          background: none;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin: 20px auto;
          width: 400px;
        }

        .contact-btn {
          padding: 15px 35px;
          cursor: pointer;
          background: none;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          border: 2px solid crimson;
          display: block;
          width: auto;
          margin: 10px auto;
          &:hover {
            background: crimson;
            transition: 0.5s;
          }
        }
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 3em;
    font-style: italic;
    letter-spacing: 3px;
    span {
      color: crimson;
    }
  }
}

// Social Media Container
.social-media-container {
  grid-area: socialMedia;
  text-align: center;
  margin: 40px auto;

  h1 {
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  p {
    font-weight: bold;
    width: 60%;
    margin: 20px auto;
  }

  .learn-more-btn {
    padding: 10px 25px;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 2px solid crimson;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
      background: crimson;
      transition: 0.5s;
    }
  }

  .social-media {
    text-align: center;
    i {
      font-size: 3em;
      cursor: pointer;
      margin: 20px 25px;
      &:hover {
        color: crimson;
        transition: 0.5s;
      }
    }
  }
}

// Responsive Footer
@media (max-width: 875px) {
  footer {
    .footer-container {
      display: flex;
      flex-direction: column;
    }
  }
}
